button {
	position: absolute;
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    font-size: 22px;
}

.leftBtn{
	z-index: 1;
    left: 5px;
	top: 50%;
}

.rightBtn{
	z-index: 1;
    right: 5px;
	top: 50%;
}